<html>
	<head>
		<title>Game Selection</title>
	</head>
	<body>
		<ol>
			<% gameList.forEach(function(item, index, array) { %>
			<li>
				<a href=<%= item.href %>>
					<% item.name %>
				</a>
			</li>
			<% }) %>
		</ol>
	</body>
</html>
