<html>
	<head>
		<title>Game Selection</title>
	</head>
	<body>
		<div>
			Bienvenu <% login %> !
			<form action="/logout" method="post">
				<input type="submit" value="Déconnexion" />
			</form>
		</div>
		<div>
			<ol>
				<% gameList.forEach(function(item, index, array) { %>
				<li>
					<a href="<%=item.href%>">
						<%= item.name %>
					</a>
				</li>
				<% }) %>
			</ol>
		</div>
	</body>
</html>
