<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
    </head>
    <body>
    	<form action="/Login" method="post">
			<div>
				<input type="text" name="login" placeholder="login">
			</div>
			<div>
				<input type="password" name="password" placeholder="mot de passe">
			</div>
			<div>
				<input type="submit" value="Connexion">
			</div>
<<<<<<< HEAD
		</form>
=======
	</form>
    </head>
    <body>
		<a href="/Subscription">S'inscrire</a>
>>>>>>> a2505a7d36f542777adea7a67f404dd5543af24b
    </body>
</html>
