<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    	<% if(badauth) { %>
    	<div class="alert-danger mb-2 text-center"> Votre identifiant ou votre mot de passe est incorrect. </div>
    	<% } %>
    	<div class="w-25 mx-auto">
    		<form action="/Login" method="post">
    			<div class="text-center mt-5">
    				<h1 class="h3 font-weight-normal">Veuillez vous connecter.</h1>
    			</div>
				<div>
					<input type="text" name="login" placeholder="identifiant" class="form-control mt-3">
				</div>
				<div>
					<input type="password" name="psw" placeholder="mot de passe" class="form-control mb-2">
				</div>
				<div class="text-center">
					<input type="submit" value="Connexion" class="btn btn-primary">
				</div>
			</form>
			<div class="text-center">
				<a href="/Subscription" class="text-center">S'inscrire</a>
			</div>
		</div>
    </body>
</html>
