<html>
	<head>
		<script>
			function getScore() {
				score = Math.floor(Math.random() * 1000);
				alert(`Vous obtenez : ${score} !`);
				hidden = document.getElementById('score');
				hidden.value = score;
				document.getElementById('form').submit();
			}
		</script>
	</head>
	<body>
		<div>
			<form action="" method="post" id="form">
				<div>Tentez votre chance <%= login %> !</div>
				<div>Votre meilleur score est de : <%= highscore %></div>
				<div>
					<input type="hidden" name="score" id="score" />
					<button onclick="getScore()">Tirer</button>
				</div>
			</form>
		</div>
		<div>
			<button onclick="location.href='/secure/GameSelection';">Retour au menu</button>
		</div>
	</body>
</html>
