<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Jeu</title>
        <script src="../public/spaceGame/ArchitectureJeu/js/game.js"></script>
		<script src="../public/spaceGame/ArchitectureJeu/js/player.js"></script>
		<script src="../public/spaceGame/ArchitectureJeu/js/ennemy.js"></script>
		<script src="../public/spaceGame/ArchitectureJeu/js/projectile.js"></script>
        <link rel="stylesheet" type="text/css" href="../src/spaceGame/ArchitectureJeu/style/game.css">
    </head>
    <body>
		<div id="arena"></div>
    </body>
</html>
