<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Coucou</title>
        <script src="../src/spaceGame/ArchitectureJeu/js/game.js"></script>
			<script src="../src/spaceGame/ArchitectureJeu/js/player.js"></script>
			<script src="../src/spaceGame/ArchitectureJeu/js/ennemy.js"></script>
			<script src="../src/spaceGame/ArchitectureJeu/js/projectile.js"></script>
        	<link rel="stylesheet" type="text/css" href="../src/spaceGame/ArchitectureJeu/style/game.css">
    </head>
    <body>
		<h1></h1>
		<div id="arena"></div>
    </body>
</html>
