<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<form action="/GameSelection" method="post">
			<div>
				<input type="text" id="login" placeholder="Ton nom !">
			</div>
			<div>
				<input type="submit" value="Inscription">
			</div>
	</form>
    </head>
    <body>
    </body>
</html>
