<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Subscription</title>
		<form action="/Subscription" method="post">
			<div>
				<input type="text" name="login" placeholder="Ton nom !">
			</div>
			<div>
				<input type="password" name="psw" placeholder="Entrez un mot de passe">
			</div>
			<div>
				<input type="submit" value="Inscription">
			</div>
	</form>
    </head>
    <body>
    </body>
</html>
